/* Homepage */

#artists-container {
    background-color: #2c1636;
    height: 600px;
    text-align: center;
    margin: 0 0;
    padding: 1rem;
}

#artists-container h2 {
    background-color: #2c1636;
    height: 140px;
    color: #ffffff;
    font-size: 3.5rem;
    padding: 3rem;
    margin-bottom: 1rem;
    font-weight: var(--br-boldness);
    line-height: var(--br-line-height);
}

#artists-container h3 {
    background-color:#2c1636;
    height: 80px;
    color: #ffffffad;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artist-card, .genre-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.artist-card img {
    max-width: 100%;
    height: auto;
}

.view-all-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

#search-form {
    text-align: center;
    margin-top: 20px;
}

#search-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-button {
    margin-top: 20px; /* Add some space between the input and the button */
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: bold;
}